### BUILDOUT CONFIG FILE ###

[buildout]
# DIRECTORIES
bin-directory = bin
parts-directory = bin/parts
develop-eggs-directory = bin/dev-eggs

# PARTS
parts =
    python
    tests
    coverage

eggs =

# specify a version for ANY egg used :
#  - to ensure repeatability
#  - to make the buildout script run faster
#    (does not need to check for newer versions)
# check the output for picked versions

show-picked-versions = true


# PARTS DEFINITIONS

# the tests runner
[tests]
recipe = zc.recipe.egg:script
eggs =
    ${buildout:eggs}
    pytest
scripts = pytest=tests
extra-paths = ${buildout:directory}
initialization =
    from pathlib import Path
    tests_path = str(Path(__file__).parent.parent / "tests").replace("\\\\?\\", "")
    sys.argv.extend([
        "--rootdir", tests_path,
        "-c", Path(tests_path) / "setup.cfg"
    ])

# coverage info
[coverage]
<= tests
eggs =
    ${tests:eggs}
    coverage
scripts = coverage
defaults =
    --with-coverage

# the buildout environment python interpreter
[python]
<= coverage
recipe = zc.recipe.egg
eggs =
    ${tests:eggs}
scripts = python
interpreter = python
extra-paths = ${buildout:directory}


[versions]
python = 3.12
zc.buildout = 4.0

# RECIPES
zc.recipe.egg = 2.0.7
zc.recipe.testrunner = 3.1
# requires
pytest = 8.3.4

coverage = 7.6.1

# required by pytest 8.3.4
colorama = 0.4.6
iniconfig = 2.0.0
pluggy = 1.5.0
