# buildout dependencies file

[buildout]
# so that unversionned packages are shown
show-picked-versions = true

# specify a version for ANY egg used :
#  - to ensure repeatability
#  - to make the buildout script run faster
#    (does not need to check for newer versions)

eggs =

[versions]
python = 2.7

